.favorites-view{
padding: 20px;
}

.favorites-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00000088;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
}

.favorites-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 0px;
}