.favorite-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  min-width: 25%;
  background-color: #00000088;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
}

.title {
  font-weight: 800;
  font-size: 20px;
}

.description {
  margin-top: 20px;
}

.remove-idea-button-container {
  display: flex;
  width: 100%;
  justify-content: end;
  background-color: #00000000;
  border: 0px solid #00000000;
  cursor: pointer;
  margin-bottom: -24px;
  padding: 0px;
}

.remove-idea-button {
  border-radius: 5px;
  background-color: #FFFFFF44;
}

.remove-idea-button:hover {
  filter: brightness(5);
  background-color: #FFFFFF77;
}