.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.welcome-message, 
.advice-type-container, 
.eight-ball-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00000088;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  z-index: 2
}

.welcome-message-header {
  font-weight: 800;
  font-size: 20px;
}

.eight-ball-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ball {
  height: 70vh;
  width: 70vh;
  background-color: #000000;
  border-radius: 50%;
  margin: -8vh;
  z-index: 1;
}

.window {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.66), rgba(255, 255, 255, 0));
  background-color: blue;
  border-radius: 50%;
  height: 30vh;
  width: 30vh;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
  bottom: 42.5vh;
}

.eight-ball-message{
  max-width: 200px;
  margin-bottom: 0px; 
}

.advice-type-container {
  position: relative;
  bottom: 30vh;
}

.advice-type-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advice-type-button,
.favorite-button {
  margin: 20px 40px;
  border: 1px solid rgb(239, 54, 246);
  border-radius: 20px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #00000088;
  padding: 10px 20px;
  min-width: 150px;
}

.favorite-button {
  margin: 20px 20px 0px;
}

.advice-type-button:hover,
.advice-type-button:focus, 
.favorite-button:hover,
.favorite-button:focus {
  transition: 0.3s;
  cursor: pointer;
  /* background-color: rgb(239, 54, 246); */
  background-image: -webkit-linear-gradient(rgb(239, 54, 246), rgb(135, 0, 155));
}

