.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 85vh;
}

.welcome-message, 
.advice-type-container, 
.eight-ball-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00000088;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
  z-index: 2
}

.welcome-message-header {
  font-weight: 800;
  font-size: 20px;
}

.eight-ball-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ball {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 70vh;
  background: radial-gradient(#454545, #000000);
  border-radius: 50%;
  margin: -8vh;
  z-index: 1;
  overflow: hidden;
}

.eight,
.window {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.66), rgba(255, 255, 255, 0));
  background-color: blue;
  border-radius: 50%;
  height: 30vh;
  width: 30vh;
  z-index: 2;
}

.eight {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 200px;
  font-weight: 700;
}

.eight-ball-message{
  max-width: 200px;
  margin: 0px;
}

.advice-type-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advice-type-button,
.favorite-button {
  margin: 20px 40px;
  border: 1px solid rgb(239, 54, 246);
  border-radius: 20px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #00000088;
  padding: 10px 20px;
  min-width: 150px;
}

.favorite-button {
  margin: 20px 20px 0px;
}

.advice-type-button:hover,
.advice-type-button:focus, 
.favorite-button:hover,
.favorite-button:focus {
  transition: 0.3s;
  cursor: pointer;
  /* background-color: rgb(239, 54, 246); */
  background-image: -webkit-linear-gradient(rgb(239, 54, 246), rgb(135, 0, 155));
}

@media screen and (min-device-width: 501px) and (max-device-width: 1000px) {
  .home-container {
    font-size: 20px;
    margin: 5vh 20px;
    height: 80vh;
    justify-content: space-evenly
  }
  .welcome-message-header {
    font-size: 25px;
  }
  .welcome-message {
    font-size: 20px;
  }
  .advice-type-button,
  .favorite-button {
    margin: 5px 5px;
    font-size: 20px;
    min-width: 200px;
  }
  .ball {
    margin: -5vh;
    height: 65vh;
    width: 65vh;
    overflow: hidden;
  }
  .eight,
  .window {
    height: 35vh;
    width: 35vh;
    overflow: hidden;
  }
  .eight {
    font-size: 200px;
  }
  .eight-ball-message{
    max-width: 35vw;
    font-size: 25px;
  }
}

@media screen and (min-device-width: 376px) and (max-device-width: 500px) {
  .home-container {
    font-size: 15px;
    margin: 0px 20px;
    height: 85vh;
    justify-content: space-evenly
  }
  .welcome-message-header {
    font-size: 20px;
  }
  .welcome-message {
    font-size: 15px;
  }
  .advice-type-button,
  .favorite-button {
    margin: 5px 5px;
    font-size: 15px;
    min-width: 50px;
  }
  .ball {
    margin: -2vh;
    height: 45vh;
    width: 45vh;
    overflow: hidden;
  }
  .eight,
  .window {
    height: 25vh;
    width: 25vh;
    overflow: hidden;
  }
  .eight {
    font-size: 100px;
  }
  .eight-ball-message{
    max-width: 30vw;
    font-size: 15px;
  }
}

@media screen and (min-device-width: 0px) and (max-device-width: 375px) {
  .home-container {
    margin-top: 20px!important;
    font-size: 15px;
    margin: 0px 20px;
    height: 80vh;
  }
  .welcome-message-header {
    font-size: 15px;
  }
  .welcome-message {
    font-size: 12px;
  }
  .advice-type-button,
  .favorite-button {
    margin: 5px 5px;
    font-size: 15px;
    min-width: 50px;
  }
  .ball {
    margin: -2vh;
    height: 45vh;
    width: 45vh;
    overflow: hidden;
  }
  .eight,
  .window {
    height: 25vh;
    width: 25vh;
    overflow: hidden;
  }
  .eight {
    font-size: 100px;
  }
  .eight-ball-message{
    max-width: 30vw;
    font-size: 12px;
  }
}
